<div class="flex justify-between mb-4">
    <div class="w-1/2 px-4">
        <h2>Got a talk idea? We want to see it!</h2>
        <p>
            We’re pleased to announce Longhorn PHP Conference 2025. Our aim is to bring
            together the PHP community for three days of learning, networking, and plain
            old fun in beautiful Austin, Texas for a third year. Join us by submitting
            to speak!
        </p>
    </div>

    <div class="w-1/2 px-4">
        <h2>Speaker Package</h2>
        <p>
            High-quality speakers giving insightful talks are key to the success of our conference.
            In appreciation of the effort that goes into preparing and presenting a talk, we provide a
            <a href="{{ url('speaker_package') }}" class="text-brand text-bold">speaker package</a>
            for accepted speakers.
        </p>
    </div>
</div>

<div class="mt-8 px-4">
    <h2>Diversity Matters!</h2>
    <p>
        {{ site.title }} is committed to creating a conference that is as inclusive as possible.
        We want to showcase talent available around the U.S. and welcome international submissions as well.
    </p>
    <p>
        We are also committed to ensuring the conference is a place
        where ideas are exchanged, old friends get together, new friends meet and <strong>harassment
        is not tolerated</strong>. We expect speakers, attendees and sponsor representatives to be
        professional and courteous to each other. We reserve the right to remove, without refund,
        ANY attendee (speaker or otherwise) who is unable to adhere to this policy. Please see our
        <a href="https://www.longhornphp.com/code-of-conduct/">Code of Conduct</a> for further
        information.
    </p>
</div>
