{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>Talk Ideas</h2>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP Developers, Front-End Developers, 
        DevOps Teams and Leadership as well. 
        We encourage you to "think outside the box" to come up with your own unique topics.
    </p>
    <p>
        <strong>We strongly advise that you submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Virtualization and environments, Docker, Serverless</li>
        <li>PHP internals</li>
        <li>Development principles</li>
        <li>Building APIs (REST, SOAP)</li>
        <li>Continuous Integration and Delivery</li>
        <li>JavaScript</li>
        <li>Databases</li>
        <li>Security</li>
        <li>Mobile-first design, Responsive Design, CSS</li>
        <li>User Experience (UI/UX), Usability, Accessibility</li>
        <li>Testing</li>
        <li>Frameworks (Laravel, Symfony, Wordpress, and more)</li>
        <li>Professional development and skills</li>
        
    </ul>
    <h2>Session Types</h2>
    <p>This year, we'll be accepting talks for three different session lengths: 
    3 hour tutorials, 60 minute talks, and 30 minute talks.</p>
    <p><b>Tutorial</b> - These are interactive hands-on workshops, meant for diving into a topic.</p>
    <p><b>Talks</b> - This year, we have introduced a few 30 minute sessions, 
    in addition to the classic 60 minute talk session. 
    When submitting your talk, you'll see a few options for the time, so you can choose 
    whether your talk would fit in a 60 or 30 minute session.
    If you can be flexible on the length, this makes it more likely we can accept the talk. 
    You can select either 60 or 30 minutes only, or indicate that you can do either length, 
    and pick the preferred length.</p>
</div>
{% endblock %}

