{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the best speakers from all around the
        world to share their knowledge with you here. We provide a travel and
        accommodation package to all selected speakers to help make this possible.
    </p>
    <h3>About the event</h3>
    <p>
        Every room will have a 1080p (16:9) projector, screen, with a variety of adapters (HDMI, USB-C,
        mini DisplayPort, VGA). WiFi internet will be available (and reliable!) throughout the venue.
    </p>
    <p>
        When the Call for Papers closes, the organizers will sort through the submissions, making
        their selections. Speakers will be notified as soon as the selection process has been completed.
    </p>
    <h3>This year's package</h3>
    <p>
        Our speaker package for this year's event includes:
    </p>
    <ul>
        <li>Full conference pass (tutorial day and main conference days)</li>
        <li>Lunch, after-parties, and any other activities included in the conference</li>
        <li>For speakers remote to the Austin area, 3 nights at the speaker hotel (4 nights if presenting a talk and a tutorial)</li>
        <li>For speakers outside Texas, we'll book you an Economy or equivalent airfare on a flight we'd be comfortable taking ourselves (we're conference speakers too!)</li>
        <li>If you're flying in, we'll arrange transportation between the Austin airport and the speaker hotel.</li>
    </ul>
    <p>
        International speakers are encouraged to <a href="/">submit their talks</a>, but because of budget restrictions,
        we can only afford to pay airfare for a limited number of international speakers.
    </p>
    <h3>Tips for Submission</h3>
    <p>
        We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
        more submissions you contribute, the more options you give us to pick you. Please be detailed and descriptive
        in your talk abstract.
    </p>
</div>
{% endblock %}
